.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;

  padding: 0;
  margin: 0.5rem 1rem;
  font-size: 0.67rem;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .show {
    .nav {
      display: initial;

      li {
        a {
          color: #fff;
          font-size: 1.5rem;
        }
      }
    }
  }

  .collapse.show {
    background: rgba(0, 0, 0, 0.98);
    width: 100%;
    position: absolute;
    top: -0.98rem;
    left: 0;
    height: 96vh;
    display: flex;
    justify-content: center;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }
}

.banner {
  position: absolute;
  top: 1rem;
  z-index: 1;
  // left: 15rem;
  width: 100%;

  .container {
    .nav {
      margin: 0 21rem;
    }
  }

  .nav-primary {
    width: 1022px;
    display: flex;
    justify-content: center;
  }

  .brand {
    color: #000;
    text-decoration: none;
    font-family: "SoftSugarplain", sans-serif;
    font-size: 1.2rem;

    &:active {
      opacity: 0.6;
    }
  }
}

.logged-in {
  .banner {
    top: 3rem;
  }
}

@media (max-width: 575px) {
  .banner {
    position: absolute;
    top: 1rem;
    z-index: 1;
    left: 0;
    width: 100%;

    // .nav-primary {
    //   display: none;
    //   width: initial;
    // }
  }
}

.navbar-toggler {
  z-index: 3;
  position: relative;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.collapsed .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.collapsing {
  transition: none !important;
}
