a:not(.brand) {
  color: #000;
  font-weight: bold;
  outline: 0;
  border-bottom: solid 1px transparent;
  -webkit-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
  -o-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
  transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;

  &:hover {
    text-decoration: none;
    color: rgb(27, 27, 27);
    border-bottom: solid 1px rgb(27, 27, 27);
  }
}

::selection {
  color: #fff;
  background: rgb(32, 32, 32);
}
